<div class="footer-wrap">
                <a href="https://fullstack.edu.vn/" class="footer__logo">
                    <img src="https://fullstack.edu.vn/assets/icon/f8_icon.png" alt="logo" class="footer__logo-img">
                </a>
                <ul class="footer__link">
                    <li class="footer__item">
                        <a href="/" class="footer__item-about">Giới thiệu</a>
                    </li>
                    <li class="footer__item">
                        <a href="/" class="footer__item-about">Cơ hội việc làm</a>
                    </li>
                </ul>
                <ul class="footer__link-social">
                    <li class="footer__item">
                        <a href="/" class="footer__item-about"><i class='bx bxl-facebook-square'></i></a>
                    </li>
                    <li class="footer__item">
                        <a href="/" class="footer__item-about"><i class='bx bxl-youtube' ></i></a>
                    </li>
                </ul>
            </div>