<div class="header__wap">
    <div class="header__home">
        <div class="header__logo">
            <a href="/" class="header__logo-icon">f8</a>
            <h3 class="home__slogant">Học lập trình để đi làm</h3>
        </div>
    </div>
    <div class="header__search-wrap">
        <div class="search__input-wrap">
            <i class='search__input-icon bx bx-search bx-tada-hover' ></i>
            <input type="text" class="search__input" placeholder="Tìm kiếm khóa học,bài viết,video,...">
        </div>
    </div>
    <div class="header__user-bars">
        <div class="header__bell">
            <i class='bx bxs-bell bx-tada-hover'></i>
        </div>
        <div class="header__login">
            <a href="/" class="btn login-btn">Login</a>
        </div>
    </div>
</div>