<ul class="sidebars__list">
    <li class="sidebars__item">
        <a href="" class="sidebars__item-link">
            <i class='sidebars-icon-add bx  bx-plus bx-tada-hover'></i>
        </a>
    </li>
    <li class="sidebars__item">
        <a href="" class="sidebars__item-link sidebars__item-active">
            <i class='sidebar-icon bx  bx-home bx-tada-hover'></i>
        </a>
    </li>
    <li class="sidebars__item">
        <a href="" class="sidebars__item-link">
            <i class='sidebar-icon bx  bx-bulb bx-tada-hover'></i>
        </a>
    </li>
    <li class="sidebars__item">
        <a href="" class="sidebars__item-link">
            <i class='sidebar-icon bx  bx-question-mark bx-tada-hover'></i>
        </a>
    </li>
    <li class="sidebars__item">
        <a href="" class="sidebars__item-link">
            <i class='sidebar-icon bx  bxs-news bx-tada-hover'></i>
        </a>
    </li>
    <li class="sidebars__item">
        <a href="" class="sidebars__item-link">
            <i class='sidebar-icon bx  bx-code-alt bx-tada-hover'></i>
        </a>
    </li>
    <li class="sidebars__item">
        <a href="" class="sidebars__item-link">
            <i class='sidebar-icon bx  bx-log-out bx-tada-hover'></i>
        </a>
    </li>
</ul>